html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#options {
    height: 100%;
}

@media only screen and 
(min-device-width: 768px)  {
	#map-canvas {
		position: relative;
		width: 100%; 
		height: 100%; 
		float: left;
	}
}