html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#options {
    height: 100%;
}

@media only screen and (max-width: 480px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    #map-canvas {
		position: relative;
		width: 100%; 
		height: 50%; 
		float: left;
	}

	#thumbnails {
		width: 100%; 
		height: 50%; 
		float: left; 
		overflow: auto;
	}

    .checkboxes {
        width: 100%;
        height: 50%;
        border: 1px solid;
        overflow: scroll
    }
}

@media only screen and 
(min-device-width: 768px)  {
	#map-canvas {
		position: relative;
		width: 49%; 
		height: 100%; 
		float: left;
	}

    .checkboxes {
        width: 50%;
        height: 50%;
        border: 1px solid;
        overflow: scroll;
    }

	#btnSend {
		width: 50%;
	}
}