################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs
/AllPics2gMaps/.vs/AllPics2gMaps/v15
/AllPics2gMaps/AllPics2gMaps/obj
/AllPics2gMaps/AllPics2gMaps/appsettings.json
/AllPics2gMaps/AllPics2gMaps/appsettings.Development.json
/AllPics2gMaps/.vs
/AllPics2gMaps/AllPics2gMaps/bin/Debug/netcoreapp2.1
/AllPics2gMaps/AllPics2gMaps/bin/Release/netcoreapp2.1
/AllPics2gMaps/AllPics2gMaps/Properties/PublishProfiles
/AllPics2gMaps/AllPics2gMaps/AllPics2gMaps.csproj.user
/AllPics2gMaps/AllPics2gMaps/Properties/ServiceDependencies/allpics2gmaps - Web Deploy/profile.arm.json
/AllPics2gMaps/AllPics2gMaps.Tests/bin/Debug/netcoreapp2.1
/AllPics2gMaps/AllPics2gMaps.Tests/obj
/AllPics2gMaps/AllPics2gMaps.sln.DotSettings.user
/AllPics2gMaps/AllPics2gMaps.Tests/bin/Release/netcoreapp2.1
/Folder.DotSettings.user
